footer#contact
    div.footer
        div.footer-logo-container
                img(src=require('.//img/logo.png') alt="logo").footer-logo
        .footer-column.column-services
            p.footer-heading Послуги:
            ul.footer-list
                li Реклама
                li Брендинг
                li SMM
                li Стратегія
        .footer-column.column-contacts
            p.footer-heading Контакти:
            ul.footer-list
                li
                    img.icon(src=require(".//img/email.png"), alt="Email Icon")
                    a(href="") glowifyagency@gmail.com
                li
                    img.icon(src=require(".//img/phone.png"), alt="Phone Icon")
                    span +380 68 555 25 14
                li
                    img.icon(src=require(".//img/location.png"), alt="Address Icon")
                    span м. Київ, вул. Л. Українки 18
        .footer-column.column-nav
            p.footer-heading Головна 
            p.footer-heading Портфоліо
            ul.images
                li
                    img(src=require(".//img/insta.png"), alt="insta")
                    img(src=require(".//img/linkedin.png"), alt="linkedin")
            ul.images
                li
                    img(src=require(".//img/facebook.png"), alt="facebook")
                    img(src=require(".//img/tiktok.png"), alt="tiktok")
    .footer-info
        p © glowifyagency 2024. All rights reserved.
